* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

header,
main {
  background-color: #1f2937;
  padding: 0 4rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline;
  margin-left: 12px;
}

li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  transition: font-size 0.3s;
}

li a:hover {
  font-size: 20px;
}

.logo-img img {
  height: 80px;
  width: 100px;
}

main {
  display: flex;
  gap: 5rem;
}

.main-text,
.main-img {
  flex: 1;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-text h1 {
  font-size: 57px;
  color: #f9f8fa;
}

.main-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.main-img img {
  width: 100%;
  height: 100%;
}
.main-text button {
  color: #f9f8fa;
  background-color: #3882f6;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 28px;
  width: max-content;
  transition: color 0.5s, background-color 0.5s, padding-right 0.5s;
}

.main-text button:hover {
  color: #3882f6;
  background-color: #f9f8fa;
  padding-right: 35px;
}

.info-section {
  text-align: center;
  padding: 54px 110px 110px 110px;
}

.info-section h3 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 54px;
}

.info-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 20px;
}

.card {
  flex-basis: 20%;
  border: solid 4px #3882f6;
  border-radius: 12px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.08);
}

.card img {
  max-width: 100%;
  border-radius: 9px;
}

.quote {
  background-color: #e5e7eb;
}

figure {
  width: 69%;
  margin: 0 auto;
  padding: 170px 0;
}

blockquote {
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  font-style: italic;
}

blockquote {
  margin-bottom: 10px;
}

figcaption {
  text-align: right;
}

.action {
  background-color: #3882f6;
  color: #f9f8fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
}
.action button {
  border: 2px solid #f9f8fa;
  background-color: #3882f6;
  color: #f9f8fa;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 6px 22px;
  transition: border-radius 0.7s, background-color 0.7s, color 0.7s;
}

.action button:hover {
  border-radius: 24px;
  background-color: #f9f8fa;
  color: #3882f6;
}

footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f8fa;
  padding: 38px 0;
}

@media (width <= 900px) {
  .main-img {
    display: none;
  }

  .main-text {
    gap: 35px;
    width: 75%;
    flex: none;
  }

  .info-card {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }

  figure {
    width: 89%;
    padding: 140px 0;
  }
}

@media (width <= 768px) {
  figure {
    padding: 100px 0;
  }

  blockquote {
    font-size: 26px;
  }
  .action {
    flex-direction: column;
    gap: 20px;
    align-items: normal;
  }

  .action h2 {
    margin-bottom: 10px;
  }

  .action button {
    width: max-content;
  }
}
